img {
    width: 25px;
}

.headerAcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}

.headerAcoes_opcoesMenu {
    display: flex;
}

.headerAcoes_logo img,
.headerAcoes_usuario img {
    width: 40px;
}

.headerAcoes_opcoesMenu_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}

.headerAcoes_opcoesMenu_div p {
    font-size: 0.7rem;
    margin-top: 10px;
    color: #ffffff;
}

#acoes p {
    color: #98FFAE;
}

.heading {
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 25px 0;
}

/* CONTAINER */

.containerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.containerAcoes {
    background-color: #98FFAE;
    color: #1E774C;
    padding: 15px;
    width: 70%;
    max-width: 750px;
    border-radius: 20px;
    text-align: center;
}

a {
    color: #1E774C;
}

.containerAcoes_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.containerAcoes_box1,
.containerAcoes_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAcoes_box {
    background-color: #ffffff;
    margin: 15px 20px;
    border-radius: 20px;
    width: 140px;
    height: 130px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000065;
}

.containerAcoes_box:hover {
    background-color: #1e774caf;
    color: #ffffff;
}

.containerAcoes_box:active {
    box-shadow: inset 5px 5px 10px #104d2fc0;
}

.containerAcoes_box img {
    width: 40px;
    height: 40px;
}

.containerAcoes_box_pontos {
    font-size: 1.8rem;
    font-weight: 600;
}

.containerAcoes_box_descricao {
    font-size: 0.7rem;
    font-weight: 600;
}

.containerAcoes_box_descricao:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.popUp {
    background-color: #26C076;
    color: #ffffff;
    width: 23%;
    border-radius: 15px;
    display: none;
    position: absolute;
    top: 13%;
    left: 38.5%;
    border: #1E774C solid 2px;
    box-shadow: 1px 1px 5px #1E774C;
}

.titleComprovante {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98FFAE;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 8px;
}

.titleComprovante h1 {
    font-weight: 600;
    background-color: #98FFAE;
    color: #1E774C;
    text-align: center;
    font-size: 0.75rem;
    padding: 12px 0px 15px 0px;
    margin: 0 28px 0 10px;
}

.titleComprovante img {
    position: absolute;
    top: 5px;
    right: 5px;
}

.comprovante {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 14px 12px;
    border-bottom: #98ffaebe 2px solid;
}

.comprovante img {
    margin-right: 10px;
}

.comprovante:hover {
    cursor: pointer;
    background-color: #36db8b;
}

#ultimaLinha {
    border: none;
}

#ultimaLinha:hover {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#fechar {
    margin-left: 10px;
    padding: 3px;
}

/* RESPONSIVIDADE */

@media (max-width: 850px) {
    /* CONTAINER */

    .containerAcoes {
        width: 75%;
    }

    .containerAcoes_box {
        margin: 10px;
        width: 120px;
        height: 120px;
        padding: 5px;
    }

    .containerAcoes_box img {
        width: 35px;
        height: 35px;
    }

    .containerAcoes_box_pontos {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .containerAcoes_box_descricao {
        font-size: 0.65rem;
        font-weight: 600;
    }

    .containerAcoes_title {
        font-size: 1.4rem;
    }

    .popUp {
        width: 28%;
        position: absolute;
        top: 13%;
        left: 36%;
    }

    .titleComprovante h1, .comprovante {
        font-size: 0.7rem;
    }

    .heading {
        font-size: 1.7rem;
    }
}

@media (max-width: 600px) {
    /* CONTAINER */

    .containerAcoes {
        width: 85%;
    }

    .containerAcoes_box {
        margin: 10px;
        width: 100px;
        height: 100px;
        padding: 8px;
    }

    .containerAcoes_box img {
        width: 30px;
        height: 30px;
    }

    .containerAcoes_box_pontos {
        font-size: 1.65rem;
        font-weight: 600;
    }

    .containerAcoes_box_descricao {
        font-size: 0.6rem;
        font-weight: 600;
    }

    .containerAcoes_title {
        font-size: 1.3rem;
    }

    .popUp {
        width: 38%;
        left: 31%;
    }

    img {
        width: 22px;
    }

    .headerAcoes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px;
    }

    .headerAcoes_logo img,
    .headerAcoes_usuario img {
        width: 35px;
    }
}

@media (max-width: 500px) {
    /* CONTAINER */

    .containerAcoes_box {
        margin: 6px;
        width: 80px;
        height: 80px;
        padding: 8px;
    }

    .containerAcoes_box img {
        width: 25px;
        height: 25px;
    }

    .containerAcoes_box_pontos {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .containerAcoes_box_descricao {
        font-size: 0.5rem;
        font-weight: 600;
    }

    .containerAcoes_title {
        font-size: 1.2rem;
    }

    .popUp {
        width: 48%;
        left: 26%;
    }

    .comprovante, .titleComprovante h1 {
        font-size: 0.65rem;
    }

    img {
        width: 20px;
    }

    .heading {
        font-size: 1.7rem;
        margin: 40px 0 30px;
    }

    .headerAcoes_opcoesMenu_div {
        margin: 0 8px;
    }

}