@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.containerLogin_inputEmail, .containerLogin_inputSenha {
    background-color: #fff;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #00000042;
}

i {
    color: #2ABF8B;
}

input {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.containerLogin_btnLogin button {
    background-color: #98FFAE;
    border: none;
    border-radius: 10px;
    padding: 5px 0px;
    color: #188C6A;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;  
    font-size: 1rem;  
    width: 200px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    cursor: pointer;
}

.containerLogin_linkCadastro {
    color: #ffffff;
    font-weight: 300;
    text-decoration: underline;
    margin-top: 18px;
}
