img {
    width: 25px;
}

.headerAcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}

.headerAcoes_opcoesMenu {
    display: flex;
}

.headerAcoes_logo img,
.headerAcoes_usuario img {
    width: 40px;
}

.headerAcoes_opcoesMenu_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}

.headerAcoes_opcoesMenu_div p {
    font-size: 0.7rem;
    margin-top: 10px;
    color: #ffffff;
}

#dicas p {
    color: #98FFAE;
}

.heading {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 25px 0;
}

#map {
    height: 65vh;
    margin: 20px 180px;
    border: #98FFAE solid 10px;
    border-radius: 20px;
}

.backButton {
    margin-left: 60px;
    margin-top: -20px;
}

.backButton img {
    width: 40px;
}

.backButton img:hover {
    cursor: pointer;
}

@media (max-width: 850px) {
    #map {
        height: 65vh;
        margin: 20px 80px;
        border: #98FFAE solid 10px;
        border-radius: 20px;
    }

    .backButton {
        margin-left: 60px;
        margin-top: -10px;
    }
}

@media (max-width: 500px) {
    .heading {
        font-size: 1.7rem;
        margin: 40px 0 30px;
    }

    .headerAcoes_opcoesMenu_div {
        margin: 0 8px;
    }
    .headerAcoes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px;
    }

    .headerAcoes_logo img,
    .headerAcoes_usuario img {
        width: 35px;
    }

    img {
        width: 22px;
    }

    .heading {
        text-align: center;
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: 500;
        margin: 25px 0;
    }

    #map {
        height: 65vh;
        margin: 20px 40px;
        border: #98FFAE solid 10px;
        border-radius: 20px;
    }

    .backButton {
        margin-left: 20px;
        margin-top: 0px;
    }
}