@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #1E774C;
    font-family: 'Poppins', sans-serif;
}

.headerHome {
    height: 25vh;
    text-align: center;
    background-image: url(../img/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.headerHome_logo {
    width: 75%;
    text-align: center;
} 

